.wpvcbL-head-main{
    clear: both;
    display: inline-block;
    width: 100%;
    /*background: #40CEDA;*/
    background: #fff;
    /*color: #fff;*/
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wpvcbL-head-main h1{
    color: #fff;
    font-size:20px;
    text-align: left;
    border-radius: 0;
    float: left;
}

.wpvcbL-head-main h1 span{
    display: block;
    font-size: 13px;
    color: #fff;
    font-style:italic;
}

.wpvcbL-header-social-link{
    float: right;
}

.wpvcbL-content-wrap {
    background: #fff;
    /*margin-top: 20px;*/
    min-height:500px;
    padding:20px;
}

.wpvcbL-field-wrap{
    margin-bottom:30px;
}
.wpvcbL-field-wrap label {
    display: inline-block;
    width: 220px;
    font-weight: 500;
    vertical-align: top;
    font-size: 14px;
}

.wpvcbL-field-wrap .wpvcbL-field label {
    width: unset;
    margin-right: 20px;
}

.wpvcbL-field {
    display: inline-block;
    width: -webkit-calc(100% - 230px);
    width: calc(100% - 230px);
}

.wpvcbL-field label{
    font-size: 12px;
}   

.wpvcbL-field input[type="text"],
.wpvcbL-field input[type="tel"]
{width:200px;max-width: 100%;}
.wpvcbL-field textarea{width:100%;}
.wpvcbL-field textarea[name="wpvcbL_generate_shortcode"]{
    margin-top:20px;
    height: 150px;
    background: #fff;
    max-width:420px;
    display: block;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

.wpvcbL-tab-contents h3,
.wpvcbL-tab-wrapper h3 {
    color: #222;
    font-size: 14px;
    padding:0px 0 10px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.wpvcbL-tab-contents h3:before,
.wpvcbL-tab-wrapper h3:before{
    content:'';
    position: absolute;
    bottom: 0;
    width:20px;
    height: 2px;
    background:#222; 
}

.wpvcbL-tab-contents label.description {
    font-style: italic;
    font-size: 13px;
}

.wpvcbL-about-content {
    color: #141414;
    font-size: 13px;
    line-height: 24px;
    margin-bottom:20px;
}

.wpvcbL-about-title > span {
    color: #7b7b7b;
    font-size: 18px;
}

.wpvcbL-settings-wrap {
    display: none;
}

.wpvcbL-active-container, .wpvcbL-active{
    display: block;
}

.wpvcbL-menu-tab{
	border-bottom:1px solid #aaa;
}

.wpvcbL-menu-tab li{
    display:inline-block;
    padding:7px 10px;
    border:1px solid #aaa;
    background:#eee;
    cursor:pointer;
    margin-bottom:0;
    border-bottom-color:transparent;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
}

.wpvcbL-menu-tab li.wpvcbL-active{
	background:#fff;
}

.wpvcbL-head h3{
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px;
    line-height: 29px;
}

.wpvcbL-col-one-third{
	display:inline-block;
	vertical-align:top;
	width:32%;
	text-align:center;
    margin-bottom: 20px;
}

.wpvcbL-col-one-third img {
    max-width: 100%;
}

.wpvcbL-intro-wrap{
	background:#fff;
	padding:20px;
}

.wpvcbL-about li{
	display:inline-block;
}

.wpvcbL-head{
	padding-bottom:10px;
	margin-bottom:10px;
	position:relative;
}

.wpvcbL-head:before{
	content:'';
	position:absolute;
	bottom:0;
	width:30px;
	height:2px;
	background:#777;
	left:0;
}

.wpvcbL-header-social-link iframe,
.wpvcbL-header-social-link .fb-like{
	display:inline-block;
	vertical-align:middle;
}

.wpvcbL-field p{
    margin:0;
}

.wpvcbL-preview-image h4{
      font-size: 12px;
      margin:5px 0;
      font-weight: 500;
}

.wpvcbL-shortcode-button{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.wpvcbL-settings-container {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.wpvcbL-settings-container .wpvcbL-left {
    width: -webkit-calc(100% - 320px);
    width: calc(100% - 320px);
    /*border: 1px solid #9986ee;*/
    /*padding: 20px;*/
    background-color: #FFF;
    margin-top: 20px;
}

.wpvcbL-settings-container .wpvcbL-upgrade-wrapper {
    width: 300px;
    margin-top: 20px;
    
}

.wpvcbL-upgrade-button-wrap-backend {
    text-align: center;
}

.wpvcbL-upgrade-button-wrap-backend a,
.wpvcbL-button-wrap-backend a {
    text-decoration: none;
    background-color: #3d74f1;
    color: #fff;
    border: 1px solid #3d74f1;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 10px 0px;
    display: inline-block;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.wpvcbL-left iframe {
    max-width: 100%;
}

.wrap {
    margin-right: 0 !important;
}

@media screen and (max-width: 992px) {
    .wpvcbL-field-wrap label {
        width: 100%;
    }
    .wpvcbL-field-wrap .wpvcbL-field {
        width: 100%;
        margin-top: 10px;
    }
    .wpvcbL-field {
        width: 100%;
    }
}